@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Gilroy', sans-serif;
  background-color: #fef9f1;
}

.video-placeholder {
  background-color: #e3d4d0;
}

.multimedia-controls {
  width: 300px;
  height: 75px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  backdrop-filter: blur(5px);
  z-index: 2;
  bottom: 45px;
}

.room-id {
  z-index: 2;
  top: 15px;
  left: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.hangup {
  transform: rotate(135deg);
}